{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}?{{ now }}">
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="{{ url_for('static', filename='./image/logo.png') }}" style="max-height: 32px" class="d-inline-block align-top" alt="">
      DrillHawk
    </a>
    <a class="nav-item nav-link" href="./">Home </a>
    <!-- <a class="nav-item nav-link active" href="#">{{ graph_name }} <span class="sr-only">(current)</span></a> -->
</nav>

<div class="container-fluid">
  <div class="table-responsive">
    <table id="list" class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">workflow(s)</th>
      </tr>
    </thead>

    <tbody>

    <tr>
      <td>
        <ul>
          <li>
            <a href="#elapsed_time">Elapsed Time </a>
          </li>
          <li>
            <a href="#usage_fee">Usage Fee </a>
          </li>
        </il>
      </td>

    </tr>
    </tr>
    {% for content in contents %}
      <tr class="workflow" id="workflow-{{ content.workflow_id }}">
        <td>
          <h3 class="workflow_id">{{ content.workflow_id }}</h3>
          <ul>
            <li>input file: {{ content.input_runid }} ( {{ '{:,}'.format(content.input_size) }} bytes )
            <li>workflow_elapsed_sec: {{ '{:,}'.format(content.workflow_elapsed_sec) }} sec
          </ul>
        </td>
      </tr>
      <tr class="workflow">
        <td>
          <div class="table">
            <table id="list" class="table table-sm table-bordered">
            <thead class="thead-light">
              <tr>
                <th class="workflow"></th>
                <th scope="col">step name</th>
                <th scope="col">instance</th>
                <th scope="col">container_image<br>tool status</th>
                <th scope="col">job cost <br> timestamp</th>
                <th scope="col">container_id</th>
                <!-- additional columns -->
                {% for column in content["ext_columns"] %}
                <th scope="col">{{ column }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>

            {% for step in content.steps %}
            <tr>
              <td class="workflow"> </td>
              <td> {{ step.step_name }} </td>
              <td>
                  {% if step.step_name[0] != '_' %}
                  <!-- tool実行のステップ -->
                <span class="small_font">Type:</span> {{ step.platform.ec2_instance_type }}<br>
                <span class="small_font">Mem:</span> {{ '{:,.0f}'.format(step.platform.total_memory/(1024*1024*1024)) }}GiB<br>
                <span class="small_font">CPU NUM:</span> {{ step.platform.ncpu_cores }}<br>
                {% endif %}

              </td>
              <td> {{ step.container.process.image }}<br> {{ step.tool_status }}</td>
              <td>
                  {% if step.step_name[0] != '_' %}
                  <!-- tool実行のステップ -->
                  <div class="ra_cost_time"> <span class="small_font">TOTAL:</span>
                      {{ '{:,}'.format(step.step_elapsed_sec) }} sec</div>
                  {{ step.container.process.start_time }}<br>{{ step.container.process.end_time }}
                  {% endif %}
              </td>
              <td>
                  {% if step.step_name[0] != '_' %}
                  <!-- tool実行のステップ -->
                  {{ step.container.process.id[0:12] }}
                  {% endif %}
              </td>
              {% for column in content.ext_columns %}
              <td>{{ step[column]|safe }}</td>
              {% endfor %}

            </tr>
            {% endfor %}
            </tbody>
            </table>
          </div>
        </td>
      </tr>
      {% endfor%}
    </tbody>
    </table>
  </div>

  <!-- d3 グラフ領域 -->
  <h2>
      <a name="elapsed_time">Elapsed Time</a>
      <a href="#elapsed_time"><sup>&dagger;</sup></a>
  </h2>
  <div id='time-gantt-bar'></div>
  <div class='legend-div' id="time-gantt-bar-legend"></div>
  <span style="clear:left;"></span><br>

  <!-- d3 グラフ領域 -->
  <h2>
    <a name="usage_fee">Usage Fee</a>
    <a href="#usage_fee"><sup>&dagger;</sup></a>
  </h2>
  </h2>
  <div id='cost-gantt-bar'></div>
  <div class='legend-div' id="cost-gantt-bar-legend"></div>
  <span style="clear:left;"></span><br>


  <div class="kibana_title">
    <span id="kibana_title">上図のバーをクリックすると、該当するKibana画面が新規Widnow(Tab)で表示されます。</span>
  </div>
  <div style="height:12px"></div>

</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/d3.v4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/config.js') }}"></script>
<script src="{{ url_for('static', filename='js/util.js') }}?{{ now }}"></script>
<script>
  // for graph
  data =
  {{ data|safe }}
  ;
  var time_key =
  {{ time_keys|safe }}
  ;
  var cost_key =
  {{ cost_keys|safe }}
  ;
  initStackedBarChart.draw({
    data: data,
    key: time_key,
    unit_string: 'sec',
    element: 'time-gantt-bar'
  });
  initStackedBarChart.draw({
    data: data,
    key: cost_key,
    unit_string: 'usd',
    element: 'cost-gantt-bar'
  });

</script>

{% endblock %}
o
